<main class="container post">
  <div class="row">
    <div class="col-md-3">
      <%= render 'schools/sidebar' %>
    </div>
    <div class="col-md-9 text-break mt-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin-bottom: 0; padding: 0.75rem 0;">
          <li class="breadcrumb-item"><%= link_to "Trang Chủ", root_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @school.name %></li>
        </ol>
      </nav>

      <h1 class="h2"><%= @school.name %> - <%= @school.code %></h1>
      <%= @school.school_infos.where(year: @current_year).first.content.html_safe %>
    </div>
  </div>
</main>