<!DOCTYPE html>
<html lang="vi">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= yield :stylesheets %>

  <%#= favicon_link_tag %>
</head>

<body class="container">
<%= render 'shared/navbar' %>

<main class="col-md-12 d-flex">
</main>


<%= yield %>

<%= render 'shared/footer' %>

<%= yield :javascripts %>
</body>
</html>